{% block content %}
<div class="container w-50 mt-3 p-3 border rounded-5">
  
  <div clss="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h2>Login</h2>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="User Name"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
