/* Puts the right amount of space for the welcome page */
.welcome {
    margin-top: 100px;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

nav {

    border-bottom: .15rem solid;
    border-bottom-color: rgb(154, 154, 154);
}

#grad {
    background-image: linear-gradient(to bottom right, blue, rgb(209, 247, 179));
}

.rounded-corner {
    border-bottom-left-radius: 10px;
    /* Rounds the bottom left corner */
    border-bottom-right-radius: 10px;
    /* Rounds the bottom right corner */
}

#gameCarousel {
    margin-bottom: 5rem;
}