/* Puts the right amount of space for the welcome page */
.welcome {
    margin-top: 100px;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

nav {

    border-bottom: .15rem solid;
    border-bottom-color: rgb(154, 154, 154);
}

/* Grad and rounded corner is both for the home page top banner */
#grad {
    background-image: linear-gradient(to bottom right, blue, rgb(209, 247, 179));
}

.rounded-corner {
    border-bottom-left-radius: 10px;
    /* Rounds the bottom left corner */
    border-bottom-right-radius: 10px;
    /* Rounds the bottom right corner */
}

#gameCarousel {
    margin-bottom: 5rem;
}




/* This is for formatting tables */
.sticky-header .table {
    width: 100%;
    /* Ensures the table is the full width of the container */
}

.sticky-header .table thead th {
    position: sticky;
    top: 0;
    /* Adjust if there is a fixed header, e.g., top: 50px; */
    background-color: white;
    z-index: 1020;
    /* Ensures the header is above other content */
}

.table-responsive {
    max-height: 400px;
    /* Adjust based on your needs */
    overflow-y: auto;
    /* Adds vertical scrollbar */
}