/* Puts the right amount of space for the welcome page */
.welcome {
    margin-top: 100px;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

nav {

    border-bottom: .15rem solid;
    border-bottom-color: rgb(154, 154, 154);
}

/* Grad and rounded corner is both for the home page top banner */
#grad {
    background-image: linear-gradient(to bottom right, blue, rgb(209, 247, 179));
}

.rounded-corner {
    border-bottom-left-radius: 10px;
    /* Rounds the bottom left corner */
    border-bottom-right-radius: 10px;
    /* Rounds the bottom right corner */
}

#gameCarousel {
    margin-bottom: 5rem;
}




/* This is for formatting tables */
.sticky-header .table {
    width: 100%;
    /* Ensures the table is the full width of the container */
}

.sticky-header .table thead th {
    position: sticky;
    top: 0;
    /* Adjust if there is a fixed header, e.g., top: 50px; */

    z-index: 1020;
    /* Ensures the header is above other content */
}

.table-responsive {
    max-height: 400px;
    /* Adjust based on your needs */
    overflow-y: auto;
    /* Adds vertical scrollbar */
}

.bottom-border {
    border-bottom: 4px solid;
    border-bottom-color: rgb(64, 64, 64);
}

/* This is where the seperation of tables */

.seperation-of-table {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* marquee */
.marquee-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    /* Black background for visibility */
    color: #fff;
    /* White text color */
    text-align: center;
    z-index: 1030;
    /* Higher than Bootstrap's fixed navbar z-index */
    overflow: hidden;
    /* Hide overflow */
    padding: 5px 0;
    /* Reduced padding for smaller height */
    font-size: 14px;
    /* Smaller font size */
    line-height: 1.2;
    /* Adjust line height for text alignment */
}

@keyframes marqueeEffect {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee-content {
    display: block;
    width: auto;
    white-space: nowrap;
    animation: marqueeEffect 20s linear infinite;
    /* Increase duration */
}

.valorant-full {
    background-color: #2b2b2b;
}

.valorant-title {
    color: red;
}