.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

body {
    background: white url("images/background.png") no-repeat;
}

.disc {
    color: red;
}

title {
    color: crimson;
}