{% extends 'sports_stats/base.html' %}
{% load custom_tags %}
{% block title %}
    NFL Stats
{% endblock %}

{% block content %}
    <h1>NFL Teams</h1>
    {% if team_list %}
        <table class="table table-striped">
            <thead class="table-dark">
                <th>Team</th>
                <th>Conference</th>
            </thead>
            {% for team in team_list %}
                <tr>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.team_conference }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no teams.</p>
    {% endif %}
    
    <h2>Player Statistics</h2>
    <form method="get" action="">
        <select name="category" onchange="this.form.submit()">
            <option value="">Select a category</option>
            {% for category in stats_categories %}
                <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
    </form>
    
    {% if stats_data %}
        <table class="table">
            <thead>
                <tr>
                    {% for field_name in field_names %}
                        <th>{{ field_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in context %}
                    <tr>
                        {% for field_name in field_names %}
                             {% with forloop.counter0 as field_index %}
                                {% if field_index == 1 %}  <!-- Assuming PlayerName is in the first column -->
                                    {% if item|get_field:field_name %}
                                        <td><a href="{% url 'NFL_Player' name=item|get_field:field_name %}">{{ item|get_field:field_name }}</a></td>
                                    {% else %}
                                        <td>No Name</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{ item|get_field:field_name }}</td>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
