{% extends 'sports_stats/base.html' %}

{% block title %}
    NFL Player Stats
{% endblock %}

{% block content %}
    <h2>Player Details</h2>
    <div class="card w-75 m-3">
        <div class="card-body">
            <h5 class="card-title">{{ defense.PlayerName }}</h5>
        </div>
    </div>
        
   {% if context %}
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

    {% endif %}

{% endblock %}